body {
    font-family: Arial, sans-serif;
    padding-top: 20px;
    background-color: #181818;
}

.navbar-custom {
    background-color: #212529;
}

.card-custom {
    background-color: #2a2a2a;
    border: 1px solid #343a40;
}

.card-title {
    color: #1e90ff;
}

.badge-completed {
    background-color: #28a745;
}

.badge-progress {
    background-color: #17a2b8;
}

.badge-total {
    background-color: #ffc107;
}


/* chat User InterFace */

